# Condition & Looping

## Conditional

### perbedaan if elif dan else

In [4]:
x = 1
y = 5

if x < y :
    print('yes')
elif x > y :
    print('no')

yes

setelah true elif di bawah sudah tdk dieksekusi

In [5]:
x = 1
y = 5

if x < y :
    print('yes')
if x > y :
    print('no')

yes

setelah true, if di bawah tetap di eksekusi

## Syntax IF

Bentuk 1:
```
if <condition>:
    <statement>
    <statement>
    <statement>
```

Bentuk 2:
```
if <condition>:
    <statement>
elif <condition>:
    <statement>
```

Bentuk 3:
```
if <condition>:
    <statement>
elif <condition>:
    <statement>
else:
    <statement>
```

**NOMOR 1**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **lebih kecil** dari variabel `b` berdasarkan nilai dibawah ini :
* `a` = 100
* `b` = 200

Jika `True` maka tulis/cetak `a lebih kecil dari b`

In [10]:
a = 1000
b = 200

if a < b: # --> selema ini yes/true semua statement akan di eksekusi
    print('a lebih kecil dari b')
    print('betul')

else :
    print('a lebih besar dari b')

a lebih besar dari b

**NOMOR 2**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **lebih besar** dari variabel `b` berdasarkan nilai dibawah ini :
* `a` = 100
* `b` = 200

Jika `True` maka tulis/cetak `a lebih besar dari b`

In [13]:
a = 100
b = 200

if a > b: # --> selema ini yes/true semua statement akan di eksekusi
    print('a lebih besar dari b')

elif a < b:
    print('a lebih kecil dari b')
# else :
#     print('a lebih kecil dari b')

a lebih kecil dari b

**NOMOR 3**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **tidak sama dengan**  variabel `b` berdasarkan nilai dibawah ini :
* `a` = `januari`
* `b` = `februari`

Jika `True` maka tulis/cetak `a tidak sama dengan b`

Jika `False` maka tulis/cetak `a sama dengan b`

In [14]:
a = 'januari'
b = 'februari'

if a != b:
    print('a tidak sama dengan b')

else:
    print('a sama dengan b')

a tidak sama dengan b

**NOMOR 4**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **sama dengan**  variabel `b` berdasarkan nilai dibawah ini :
* `a` = 1000
* `b` = 1000.0

Jika `True` maka jangan menampilkan apapun

Jika `False` maka tulis/cetak `a tidak sama dengan b`

In [23]:
a = 1000 #integer
b = 1000.1  #float

if a == b:
    pass # untuk tidak menampilkan apapun
else:
    print('a tidak sama dengan b')

a tidak sama dengan b

In [22]:
print(type(a))
print(type(b))
print(a)
b

<class 'int'>
<class 'float'>
1000

1000.0

**NOMOR 5**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **berbeda**  variabel `b` berdasarkan nilai dibawah ini :
* `angka_ganjil` = `[1, 3, 5, 7]`
* `angka_genap`  = `[2, 4, 6, 8]`

Jika `True` maka tulis/cetak `angka_ganjil berbeda dengan angka_genap`

Jika `False` maka tulis/cetak `angka_ganjil sama dengan angka_genap`

In [24]:
angka_ganjil = [1,3,5,7,9]
angka_genap = [2,4,6,8,10]

if angka_ganjil != angka_genap:
    print('angka_ganjil berbeda dengan angka_genap')

else:
    print('angka_ganjil sama dengan angka_genap')

angka_ganjil berbeda dengan angka_genap

**NOMOR 6**

Buatlah sebuah kondisi untuk mengecek apakah variabel-variabel dibawah ini mempunyai nilai atau tidak

* `nama` = `budi`
* `usia` = 20
* `jenis_kelamin_pria` = True
* `alamat` = `None`
* `jumlah_motor` = 0
* `punya_rumah` = `False`

Jika True maka tulis/cetak `ada`

Jika False maka tulis/cetak `tidak ada`

In [34]:
nama = 'Budi'   # ada value
usia = 20       # ada value
gender = True   # ada value
alamat = None   # tdk ada value
motor = 0       # tdk ada value
rumah = False   # tdk ada value

# if nama:
#     print('ada')
# else:
#     print('tidak ada')

# if usia:
#     print('ada')
# else:
#     print('tidak ada')

# if gender:
#     print('ada')
# else:
#     print('tidak ada')

# if alamat:
#     print('ada')
# else:
#     print('tidak ada')

# if motor:
#     print('ada')
# else:
#     print('tidak ada')

if rumah:
    print('ada')
else:
    print('tidak ada')

tidak ada

**NOMOR 7**

Buatlah sebuah kondisi untuk mengecek apakah variabel-variabel dibawah ini termasuk salah satu nilai dari variabel lain atau tidak

* *`pendidikan` = `s1`* terhadap *`daftar_pendidikan` = ['s1', 's2', 's3']*
* *`nama` = `budi`* terhadap *`nama_lengkap` = `budi kurniawan`*

Jika True maka tulis/cetak `merupakan bagian`

Jika False maka tulis/cetak `bukan merupakan bagian`

In [47]:
pendidikan = '1'
daftar_pendidikan = ['s1', 's2', 's3','1']

nama = 'udi'
nama_lengkap = 'Budi Kurniawan'

if pendidikan in daftar_pendidikan:
    print('merupakan bagian')
else:
    print('bukan merupakan bagian')


if nama in nama_lengkap:
    print('merupakan bagian')
else:
    print('bukan merupakan bagian')

merupakan bagian
merupakan bagian

**NOMOR 8 (IF ELIF)**

Buatlah sebuah kondisi untuk mengecek hubungan dua variabel dibawah ini :

* `a` = 100
* `b` = 100

Jika `a < b` maka tulis/cetak `a lebih kecil dari b`

Jika `a > b` maka tulis/cetak `a lebih besar dari b`

Selain kondisi diatas, maka tulis/cetak `a sama dengan b`

In [51]:
a = 100
b = 100

if a < b:
    print('a lebih kecil dari b')
elif a > b:
    print('a lebih besar dari b')
else:
    print('a sama dengan b')

a sama dengan b

**NOMOR 9 (NESTED IF)**

Buatlah sebuah kondisi untuk memilih menu makanan dengan syarat :

* Pilih `nasi goreng` jika uang yang dimiliki lebih dari sama dengan Rp 15.000,-
* Pilih `ketoprak` jika uang yang dimiliki lebih dari sama dengan Rp 10.000 dan kurang dari Rp 15.000,-
* Pilih `batagor` jika uang yang dimiliki lebih dari sama dengan Rp 5.000 dan kurang Rp 10.000,-
* Pilih `es teh manis` jika uang yang dimiliki kurang dari Rp 5000

In [62]:
uang = 500

if uang >= 15000:
    print('beli nasgor')
elif uang >= 10000:
    print('beli ketoprak')
elif uang >= 5000:
    print('beli batagor')
else:
    print('es teh manis')

es teh manis

## Looping

### While loop

syntax/bentuknya:
```
while <condition>:
    <statement>
```

In [67]:
n = 5
while n > 0:
     n -= 1 # artinya: nilai n akan dikurangi sebesar sama dengan 1
     print(n)

4
3
2
1
0

### For loop
syntax/bentuknya:
```
for <variable> in <iterable/list>:
    <statements>
```

In [78]:
for i in range(4,-1,-1): # mulai dr 4, end nya di -1, stepnya berkurang 1
   print(i)

4
3
2
1
0

## Latihan soal

**NOMOR 10**

Buatlah sebuah perulangan untuk mencetak/menulis kata `hello` sebanyak `5` kali.

In [83]:
# cara manual 1
print('hello')
print('hello')
print('hello')
print('hello')
print('hello')

hello
hello
hello
hello
hello

In [84]:
# cara manual 2
a = 'hello'
print(a)
print(a)
print(a)
print(a)
print(a)

hello
hello
hello
hello
hello

In [85]:
# using while loop
i = 5
while i > 0:
    i -= 1
    print('hello')

hello
hello
hello
hello
hello

In [88]:
# using for loop
for i in range(5): #start dr 0, end di 4
    print('hello')
    # print(i,'hello') #untuk melihat i/variable

hello
hello
hello
hello
hello

**NOMOR 11**

Buatlah sebuah perulangan untuk menampilkan angka dari `0` - `5`

*Hasil : 0 1 2 3 4 5*

In [95]:
# while loop

i = 0
while i < 6:
    print(i, end=' ')
    i+=1

0 1 2 3 4 5

In [97]:
# for loop

for i in range(6): #start dr 0 (by default), stop di 5, step 1(by default)
    print(i, end=' ')

0 1 2 3 4 5

**NOMOR 12**

Buatlah sebuah perulangan untuk menampilkan angka dari `3` - `5`

*Hasil : 3 4 5*

In [98]:
# while loop
i = 3
while i < 6:
    print(i, end=' ')
    i+=1

3 4 5

In [99]:
# for loop

for i in range(3,6): #start dr 3, stop di 5, step 1(by default)
    print(i, end=' ')

3 4 5

**NOMOR 13**

Buatlah sebuah perulangan untuk menampilkan angka dari `1` - `10` dengan jarak angka adalah `3`

*Hasil : 1 4 7 10*

In [100]:
# while loop
i = 1
while i < 11:
    print(i, end=' ')
    i+=3

1 4 7 10

In [102]:
# for loop

for i in range(1,11,3): #start dr 1, stop di 10, step 3
    print(i, end=' ')

1 4 7 10

**NOMOR 14**

Buatlah sebuah perulangan untuk menampilkan angka dari `1` - `10` dan berhenti dengan kondisi jika angka tersebut adalah `8`

*Hasil : 1 2 3 4 5 6 7 8*

In [105]:
# while loop cara 1
i = 1
while i < 9:
    print(i, end=' ')
    i+=1

1 2 3 4 5 6 7 8

In [107]:
# while loop cara 2
i = 0
while i <= 7:
    i+=1
    print(i, end=' ')

1 2 3 4 5 6 7 8

In [108]:
# for loop

for i in range(1,9): #start dr 1, stop di 8, step 1(by default)
    print(i, end=' ')

1 2 3 4 5 6 7 8

**NOMOR 15**

Buatlah sebuah perulangan untuk menampilkan angka genap dari `1` - `10` dan angka tersebut kurang dari sama dengan 6

*Hasil : 2 4 6*

In [115]:
# while loop 
i = 2
while i < 8:
    print(i, end=' ')
    i+=2

2 4 6

In [113]:
# for loop
for i in range(2,8,2): #start dr 2, stop di 8-1=7, step 2
    print(i, end=' ')

2 4 6

**NOMOR 16**

Buatlah sebuah perulangan untuk menampilkan isi dari variabel list dibawah ini :

* `daftar_nama` = `['anwar', 'budi', 'cecep', 'deny']`

In [133]:
daftar_nama = ['anwar', 'budi', 'cecep', 'deny']

# for loop
for i in daftar_nama:
    print(i)

anwar
budi
cecep
deny

In [138]:
# while loop
i = 4
a = 0
while i > 0 :
    print(daftar_nama[a])
    i-=1
    a+=1

anwar
budi
cecep
deny

In [147]:
daftar_nama[2]

'cecep'

### Coba continue vs break

In [155]:
n = 4
while n > 0:
    n -= 1
    if n ==2:
        break
    print(n)
print('loop end')

3
loop end

In [158]:
for i in ['foo','bar']:
    if i =='bar':
        break
    print(i)
print('loop end')

foo
loop end

# sneak peak function sesi 3

hitung_luas = p x l

hitung_luas = 10 x 2

hitung_luas = 20

In [25]:
def HitungLuas(p,*l):
    # luas_local = 10 * 2
    return p*l

# luas_local = 10 * 2

In [2]:
luas = 10 * 2

In [9]:
luas_local

20

In [26]:
hitung_luas(10,2,3)

TypeError: hitung_luas() takes 2 positional arguments but 3 were given

In [23]:
# Create function
def func(a):
    return a

In [24]:
# Calling function
func(2)

2

In [31]:
nama = 'Vincent'
print('helo',nama,'salam kenal ya') # cara 1
print(f'helo {nama} salam kenal ya') # cara 2

helo Vincent salam kenal ya
helo Vincent salam kenal ya