# Inference FIFA (nama file bebas)

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import pickle
import json

In [2]:
# Load model
# load the model!
with open('model_lin.pkl', 'rb') as file_1: # rb = read binary
    model_lin=pickle.load(file_1)

# load the scaler!
with open('std_scaler.pkl', 'rb') as file_2:
    std_scaler=pickle.load( file_2)

with open('rbs_scaler.pkl', 'rb') as file_3:
    rbs_scaler=pickle.load( file_3)

# load the encoder
with open('encoder.pkl', 'rb') as file_4:
    encoder=pickle.load( file_4)

# load the num col
with open('num_col_std.txt', 'r') as file_5:
    num_col_std=json.load( file_5)

with open('num_col_rbs.txt', 'r') as file_6:
    num_col_rbs=json.load( file_6)

# load the cat col
with open('cat_col.txt', 'r') as file_7:
   cat_col= json.load( file_7)

In [3]:
# Create data Inference
df_inf = {
    'Name': 'Vincent', 
    'Age': 18, 
    'Height': 180, 
    'Weight': 70, 
    'ValueEUR': 100000, 
    'AttackingWorkRate':'Medium',
    'DefensiveWorkRate':'High', 
    'PaceTotal':88, 
    'ShootingTotal':88, 
    'PassingTotal':88,
    'DribblingTotal':88, 
    'DefendingTotal':88, 
    'PhysicalityTotal':88
}

df_inf = pd.DataFrame([df_inf])

In [4]:
# Show data inference
df_inf

,Name,Age,Height,Weight,ValueEUR,AttackingWorkRate,DefensiveWorkRate,PaceTotal,ShootingTotal,PassingTotal,DribblingTotal,DefendingTotal,PhysicalityTotal
0,Vincent,18,180,70,100000,Medium,High,88,88,88,88,88,88

In [5]:
# Split num col cat col
df_inf_num_rbs = df_inf[num_col_rbs] 
df_inf_num_std = df_inf[num_col_std]
df_inf_cat = df_inf[cat_col]

In [10]:
df_inf_num_std

,Age,ShootingTotal,PassingTotal,DribblingTotal,DefendingTotal,PhysicalityTotal
0,18,88,88,88,88,88

In [11]:
df_inf_num_rbs

   ValueEUR
0    100000

In [9]:
df_inf_cat

  AttackingWorkRate DefensiveWorkRate
0            Medium              High

In [12]:
# Feature Scaling
df_inf_std_scaled = std_scaler.transform(df_inf_num_std)
df_inf_rbs_scaled = rbs_scaler.transform(df_inf_num_rbs)

In [13]:
# Feature Encoding
df_inf_cat_scaled = encoder.transform(df_inf_cat)

In [14]:
# Concat
df_inf_final = np.concatenate([df_inf_std_scaled,df_inf_rbs_scaled,df_inf_cat_scaled],axis=1)

In [16]:
# Predict inference data
predict = model_lin.predict(df_inf_final)
print(f'Rating pemain : {predict}')

Rating pemain : [82.4475121]

masih bentuknya aneh.. bisa dibikin sperti berikut:

In [23]:
# alternatif tampilan predict
print(f'Rating {df_inf.Name[0]}: {round(predict[0],2)}')

Rating Vincent: 82.45